body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

div {
	display: flex;
	
}

.logoheader { 
	height: 10vh;
}

.mainheader {
	justify-content: center;
}

.illustrationloupe{
	width: 8vh;
	height: 8vh;
}

.topnav input[type=text] {
  padding: 1vh;
  border: 1vh;
  margin-top: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  font-size: 5vh;
  height: 5vh;
}
.headerblank1{
	width: 40vh;
}

.headerblank2{

	width: 25vh;
}

.headerbuttons{
margin-right: 0vh;
}

.mainheadercontent {
	flex-direction: row;
	justify-content: space-between;
}

.headergetapp {
	font-size: 3vh;
  height: 3vh;
}

.headerlogin {
	font-size: 3vh;
  height: 3vh;
}

.headerpersonicon{
	height: 10vh;
}

.splitterheadertomain{
	width: 25vh;
	height: 5vh;

}

.splitterlineheadertomain{
	background-color: black;
	width: 190vh;
	height: 1px;
	
}

.main-navigation{
	flex-direction: column;
	font-size: 2vh

}

.topics-menu{
	flex-direction: column;

}

.popularicon{ 
	height: 2vh;
}

.gamingicon{ 
	height: 2vh;
}

.sportsicon{ 
	height: 2vh;
}

.businessicon{ 
	height: 2vh;
}

.cryptoicon{ 
	height: 2vh;
}

.televisionicon{ 
	height: 2vh;
}

.celebrityicon{ 
	height: 2vh;
}

.mainblank1{
	width: 3vh;
}

.navblank1{
	height: 5vh;
}

.navblank2{
	height: 20vh;
}

.mainblank2{
	width: 1vh;
}

.navsplitter{
	height: 100vh;
	background-color: black;
	width: 1px;
}

.main-content-block{
	background-color: #d3d3d3;
	width: 190vh;
	height: 100vh;
}

.trendingtodaysection{
	flex-direction: column;
}

.mainbcontentblockblank1{
	width: 10vh;
}

.trendingtodayblanksplitter{
	height: 3vh;
	width: 10vh;
}

.trendingblocks{
	flex-direction: row;
}

.trendingblock1{
	background-color: aquamarine;
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.trendingblockblank1{
	width: 8vh;
}

.trendingblock2{
	background-color: pink;
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.trendingblockblank2{
	width: 8vh;
}

.trendingblock3{
	background-color: rgb(250, 194, 97);
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.trendingblockblank3{
	width: 8vh;
}

.trendingblock4{
	background-color: rgb(154, 130, 241);
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.insideblockblank{
	width: 120vh;
	height: 10vh;
}

.blockarticlepreview{
	font-size: smaller;
}