body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

div {
	display: flex;
	width: 100%;
	height: 100%;
}

.main-body {
	flex-direction: column;
}

.logoheader { 
    width: 10vh;
	height: 10vh;
}

.mainheader {
	justify-content: center;
	flex-direction: row;
}

.illustrationloupe{
	width: 8vh;
	height: 8vh;
}

.topnav input[type=text] {
  padding: 1vh;
  border: 1vh;
  margin-top: 1vh;
  margin-right: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  margin-left: 1vh;
  font-size: 5vh;
  width: 70vh;
  height: 5vh;
}