body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: black;
}

div {
	display: flex;

}

/* unvisited link */
a:link {
	text-decoration: none;
	color: black;
}

/* visited link */
a:visited {
	text-decoration: none;
	color: black;
}

/* mouse over link */
a:hover {
	text-decoration: none;
	color: black
}

/* selected link */
a:active {
	text-decoration: none;
}

.logoheader {
	height: 5vh;
}

.mainheader {
	justify-content: center;
}

.illustrationloupe {
	height: 4vh;
}

.topnav input[type=text] {
	padding: 1vh;
	border: 1vh;
	margin-top: 1vh;
	margin-right: 1vh;
	margin-top: 1vh;
	margin-bottom: 1vh;
	margin-left: 1vh;
	font-size: 3vh;
	height: 3vh;
}

.headerblank1 {
	width: 40vh;
}

.headerblank2 {

	width: 25vh;
}

.headerbuttons {
	margin-right: 0vh;
}

.mainheadercontent {
	flex-direction: row;
	justify-content: space-between;
}

.headergetapp {
	font-size: 3vh;
	height: 3vh;
}

.headerlogin {
	font-size: 3vh;
	height: 3vh;
}

.headerpersonicon {
	height: 4vh;
}

.splitterheadertomain {
	width: 25vh;
	height: 1px;

}

.splitterlineheadertomain {
	background-color: black;
	width: 190vh;
	height: 1px;

}

.main-navigation-spacing {
	flex-direction: row;
}

.space-to-nav-start {
	width: 2vh;
}

.main-navigation {
	flex-direction: column;
	font-size: 2vh
}

.topics-menu {
	flex-direction: column;

}

.popularicon {
	height: 4vh;
}

.gamingicon {
	height: 4vh;
}

.sportsicon {
	height: 4vh;
}

.businessicon {
	height: 4vh;
}

.cryptoicon {
	height: 4vh;
}

.televisionicon {
	height: 4vh;
}

.celebrityicon {
	height: 4vh;
}

.mainblank1 {
	width: 3vw;
}

.navblank1 {
	height: 5vh;
}

.navblank2 {
	height: 20vh;
}

.mainblank2 {
	width: 1vh;
}

.navsplitter {
	height: 100vh;
	background-color: black;
	width: 1px;
}

.main-content-block {
	background-color: #d3d3d3;
	width: 100vw;
	height: 100vh;
}

.main-content-block-spacing {
	flex-direction: row;
}

.space-to-main-block {
	background-color: #d3d3d3;
	width: 5vh;
}

.trendingtodaysection {
	flex-direction: column;
}

.mainbcontentblockverticalblank1 {
	height: 5vh;
}

.trendingtodayblanksplitter {
	height: 3vh;
	width: 10vh;
}

.trendingblocks {
	flex-direction: row;
}

.trendingblock1 {
	background-color: aquamarine;
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.trendingblockblank1 {
	width: 8vh;
}

.trendingblock2 {
	background-color: pink;
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.trendingblockblank2 {
	width: 8vh;
}

.trendingblock3 {
	background-color: rgb(250, 194, 97);
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.trendingblockblank3 {
	width: 8vh;
}

.trendingblock4 {
	background-color: rgb(154, 130, 241);
	width: 35vh;
	height: 20vh;
	flex-direction: column;
}

.insideblockblank {
	height: 10vh;
}

.blockarticlepreview {
	font-size: smaller;
}

.main-content-block {
	flex-direction: column;
}

.mainblank3 {
	width: 120vh;
	height: 5vh;
}

.popularpostsmenu {
	flex-direction: column;
}

.popularpostsblanksplitter {
	width: 100vh;
	height: 3vh;

}

.popularpostsbox {
	background-color: white;

	width: 100vh;
	height: 5vh;
	justify-content: space-around;
}

.topicon {
	height: 4vh
}

.newicon {
	height: 4vh
}

.hoticon {
	height: 4vh
}

.mainblank4 {
	width: 120vh;
	height: 5vh;
}

.postbox {
	background-color: white;

	width: 100vh;
	height: auto;

}

.PostboxUpvoteCounter {
	flex-direction: column;
	align-items: center;
}

.postboxupvoteicon {
	height: 2vh;
}

.postboxdownvoteicon {
	height: 2vh;
}

.upvoteimage {
	width: 2vh;
}

.blanktopostboxsplitter {
	width: 1vh;
}

.postboxsplitter {
	background-color: black;
	width: 1px;
	height: 93px;
}

.postboxheaderblank1 {
	width: 1vh;
}

.postboxheaderblank2 {
	width: 2vh;
}

.postboxheaderblank3 {
	width: 60vh;
}

.joinbuttonicon {
	height: 4vh;
}

.postboxheader {
	flex-direction: row;
}

.userpostdetail {
	font-size: small;
}

.postboxfooter {
	flex-direction: row;
}

.postboxcontent {
	flex-direction: column;
}

.shareiconpostbox {
	height: 2vh;
}

.commenticonpostbox {
	height: 2vh;
}

.saveiconpostbox {
	height: 2vh;
}

.postboxfooterspace2 {
	width: 2vw;
}

.spacetopostboxfooter {
	height: 2vh;
}

.space-to-popularcommunities {
	width: 3vw;
}

.popularcommunitiesmenu {
	background-color: white;
	flex-direction: column;
}

.popularcommunitiescontentrows {
	flex-direction: column;
}

.popularcommunitiesblanksplitter{
	height: 2vh;
}

.spacebetweencommunities{
	width: 3vw;
}

.space-to-see-more-button{
	height: 2vh;
}

.popularcontentsplitter{
	background-color: #d3d3d3;
	height: 1px;
	width: 20vw;
}

.spacebetweencommunityrow{
	height: 1vh;
}
.spacetofooter{
height: 3vh;
background-color: #d3d3d3;
}

footer{
	display: flex;
	background-color: white;
}

.footercontent{
	flex-direction: row;}

.initialfooterspace{
	width: 3vw;
}


.footerrows{
	flex-direction: column;
}

.footerrowspace{
	width: 2vw;
}
